/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive table p {
    line-height: 22px !important;
	font-size: 0.91rem !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }

}

div.version {
  display: none;
}

.icon-home::before {
  content: ""
}

span.permission {
  background-color:#e74c3c;
  color: #fcfcfc;
/*  color:#fff; */
  box-sizing:border-box;
  white-space:nowrap;
  max-width:100%;
  border:1px solid #e1e4e5;
  font-size:75%;
  padding:0 5px;
  font-family:SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
  overflow-x:auto  
}

span.prerole {
    background-color:inherit;
    color:#665f5f;
  /*  color:#fff; */
    box-sizing:border-box;
    white-space:nowrap;
    max-width:100%;
    border:1px solid #e1e4e5;
    font-size:75%;
    padding:0 5px;
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    overflow-x:auto  
}

/* RTD adds extra p */
div.container > p,
div.container > ul {
	margin: 0 !important;
}

/* api main sections like Function, Types etc */
.api-main-section h2 {
	margin-top:2em;
}
.api-permission-info {
	margin-top:2em;
}

/* api sections below the main sections,
/* for example the individual function definitions */
.api-main-section > section:not(.api-section-body) {
  background: #e7f2fa;
  border-top: 3px solid #6ab0de;
  margin-bottom:1ex;
  display: inline-flex;
  align-items: center;  
}
.api-main-section > section:not(.api-section-body)  > span {
    font-size: 80%;
    font-weight: bold;
    font-style: italic;
    padding: 5px;
    display: block;
    color: #3782bb;
}
#functions > section:not(.api-section-body) > span::after {
    content: "func";
    /*color: #6ab0de;*/
}
.api-main-section section h3 {
  padding: 6px;
  margin:0;
  font-size: 90%;
  line-height: normal;  
}
#events > section:not(.api-section-body) {
  /*background: #ffedcc;*/
  /*border-top: 3px solid #f0b37e;*/
}
#events > section:not(.api-section-body) > span::after {
    content: "event";
    /*color: #f0b37e;*/
}
#types > section:not(.api-section-body) {
  /*background: #dbfaf4;*/
  /*border-top: 3px solid #1abc9c;*/
}
#types > section:not(.api-section-body) > span::after {
    content: "type";
    /*color: #1abc9c;*/
}
#properties > section:not(.api-section-body) {
  border-top: 3px solid #ccc;  
  background: #f0f0f0;
}
#properties > section:not(.api-section-body) > span::after {
    content: "prop";
    color: #888;
}

/* api section class embraces only the section title, */
/* the rest of the section is inside the sectionbody */
.api-section-annotation > p {
  padding: 6px;
  margin:0;
  font-size: 80%;
  font-style: italic;
}
.api-section-body {
	margin-bottom:3em;
	margin-left: 1em;  
}
.api-section-body a {
  font-size: 95%;
  font-style: italic;
}

/* styles for the api headers like "Parameters" */
.api-header-node {
	margin: 0 0 24px;
}
.api-header-section {
  background: #f0f0f0;
  margin-bottom:1ex;
  display: inline-flex;
  align-items: center;  
  border-left: 3px solid #ccc;  
}
.api-header-section div {
  padding: 6px;
}
.api-header-annotation {
  margin-left:2em;
}
.api-header-annotation > p {
  font-size: 80%;
  font-style: italic;
}

/* member styles, elements below api headers*/
.api-member-definition {
  display: flex;
  align-items: text-top;
}
.api-member-name, .api-member-type, .api-member-annotation {
  margin-right: 0.5ex;
}
.api-member-node {
  margin-bottom: 0.5ex;
}
.api-member-description p {
  font-size: 95%;
}
.api-member-description {
  margin-left: 2em;
  margin-bottom:1ex;
}
.api-member-description-only {
  margin-bottom:1ex;  
  margin-left: 1ex;
}
.api-member-description-only > .api-member-node {
  margin-left:-1ex;  
}
.api-member-annotation > p {
  font-size: 80%;
  font-style: italic;
}
.api-member-type > p {
  font-size: 95%;
  font-style: italic;
}


.api-member-inline-changes dl,
.api-member-inline-changes dd,
.api-member-inline-changes dd > p {
  margin:0 !important;
  padding: 0 !important;
}
.api-member-inline-changes dt {
  font-size: 95%;
  line-height:24px;
  margin:0 !important;
  padding: 0 1ex 0 0 !important;
}
